a {
    color: rgb(13, 0, 157);
}
body {
    background: rgb(255, 255, 255) url("images/background.png") no-repeat;
}
table caption{
    font-size: 45;
    color: rgb(66, 133, 0);
}
button {
    background-color: yellowgreen;
    margin: auto;

}

table {
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}